textarea{
    height:80vh;
}

.add{
    position:fixed;
    height:50px;
    width:50px;
    bottom:5px;
    right: 5px;
}
ul{
    list-style:none;
}
.card{
    margin: 10px 0;
    padding:5px 0;
}
.form-control{
    margin-top:10px;
}
.title{
    text-align: center;
}
.time{
    font-style: italic;
}